APP_NAME="ZOLIX Shoe Care"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://domain-kamu.com
APP_PORT=8080

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=zolix
DB_USERNAME=zolix
DB_PASSWORD=ganti-password-kuat

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_SECURE_COOKIE=true
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=database
QUEUE_CONNECTION=database
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@domain-kamu.com"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"

AUTOGOPAY_BASE_URL=https://v1-gateway.autogopay.site
AUTOGOPAY_TOKEN=
AUTOGOPAY_TIMEOUT=20
